.side_bar
  .side_bar__user_name
    .top_items
      kawata
    .top_items__icons
      <i class="fa fa-edit "></i> 
      <i class="fa fa-cog "></i> 
   

  .side_bar__new_group
    .group
      techcamp
    .massages
      まだメッセージがありません