.side_bar
  .side_bar__user_name
    .top_items
      kawata
    .top_items__icons
      = icon('fa', 'edit')
      = icon('fa', 'cog')
   

  .side_bar__new_group
    .group
      techcamp
    .massages
      まだメッセージがありません